<component name="ArtifactManager">
  <artifact type="war" name="springbootMybatisDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springbootMybatisDemo.war">
      <element id="artifact" artifact-name="springbootMybatisDemo:war exploded" />
    </root>
  </artifact>
</component>